.imgHolder {
  margin-top: 80px;
  position: relative;
  height: 440px;
}

.portrait {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.title {
  font-size: 5.2rem;
}

.subTitle {
  font-size: 4rem;
}

.paragraph {
  font-size: 2rem;
  font-weight: 300;
}

.certificate {
  position: relative;
}
.backButton {
  width: 100%;
  padding: 10px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  background: linear-gradient(to left, black 50%, white 50%) right;
  background-size: 200% 100%;
  color: white;
  transition: all 2s ease;
  text-decoration: none;
  display: block;
  border: 1px solid black;
  margin-top: 40px;
}

.backButton:hover {
  background-position: left;
  color: black;
}

@media (min-width: 768px) {
  .backButton {
    width: 600px;
  }
}
