.navbar {
  margin: 5vw auto;
  padding: 0 5vw;
}

.navItem {
  padding: 0 20px;
  font-size: 2rem;
}

.facebookLink,
.twitterLink {
  transition: color 0.3s ease-in-out;
}
.twitterLink:hover {
  color: #1d9bf0;
}

.facebookLink:hover {
  color: #1b74e4;
}

.navbarName {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

.navbarName:hover {
  color: black;
  opacity: .8;
}
